.product-list-container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    flex: 0 0 calc(33.33% - 30px); 
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer; 
}

.product:hover {
    transform: scale(1.05);
}
.user-list {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
grid-gap: 10px;
}

.user {
    position: relative; 
    width: 100px;
    height: 100px; 
    background-color: #ccc;
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-img {
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center; 
}

.user-details {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.user h6 {
    color: #fff;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.product-checkbox {
    display: none; 
}
.product.selected,
.product.selected p {
    background-color: #007bff;
    color: #fff; 
}